<div id="left">
<ul>
{{#each burger}}
{{#unless this.devoured}}
<li>
{{this.id}}
<p id={{this.id}}>{{this.burger_name}}</p>
<button id="eat" value={{this.id}}>EAT</button>
</li>
{{/unless}}
{{/each}}
</ul>
</div>
<br><div>--------EATEN-------------</div>
<div id="right">
<ul>
{{#each burger}}
{{#if this.devoured}}
<li>
{{this.id}}
{{this.burger_name}}
</li>
{{/if}}
{{/each}}
</ul>
</div>


